# Set up you test imap server here
TEST_IMAP_CONFIG = ActiveImap::Config.new do |c|
	c.server_host = 'localhost'
	c.server_port = 993
	c.server_ssl  = true
	c.imap_user = 'user'
	c.imap_password = 'password'
end
